.slider {
    height: 40px;
    border: 2px solid var(--pink);
    border-radius: 20px;
}

.thumb {
    background-color: var(--pink);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.slider.sage {
    border: 2px solid var(--sage);
}

.slider.sage .thumb {
    background-color: var(--sage);
}